:root {
  --main: #f95933;
  --white: #fff;
  --bg: #111;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}

.git {
  width: 150px;
  height: 150px;
  background-color: var(--main);
  border-radius: 15px;
  position: relative;
  rotate: 45deg;
}

.line-1,
.line-2 {
  height: 12px;
  background-color: var(--white);
  position: absolute;
}

.line-1 {
  width: 110px;
  top: 40px;
}

.line-1:before,
.line-1:after,
.line-2:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: -8px;
}

.line-1:before {
  left: 30px;
}

.line-1:after {
  left: 90px;
}

.line-2 {
  width: 90px;
  top: 70px;
  left: 30px;
  rotate: 45deg;
}

.line-2:before {
  left: 70px;
}